@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}
#header {
  padding: 36px 0;
  position: sticky !important;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navigation-item {
  margin-right: 70px;
}

.phone {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.phone-icon {
  margin-right: 10px;
}

.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
  height: 2px;
  width: 24px;
  position: absolute;
  background: #6016C4;
  margin: 0 auto;
}

.menu-burger__header span {
  top: 6px;
}

.menu-burger__header:after, .menu-burger__header:before {
  content: "";
}

.menu-burger__header:after {
  bottom: 3px;
}

.menu-burger__header:before {
  top: 0px;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  transition: 0.5s;
}

.menu-burger__header.open-menu:before {
  transform: rotate(45deg);
  top: 6px;
  transition: 0.4s;
}

.menu-burger__header.open-menu:after {
  transform: rotate(-45deg);
  bottom: 8px;
  transition: 0.4s;
}

.header__nav {
  display: none;
  margin: 0 auto;
  text-align: center;
}
.header__nav .burger-item {
  font-size: 18px;
  margin-bottom: 20px;
}

.tel__wrapper a {
  display: block;
  text-align: center;
}

.burger {
  display: none;
}

.open-menu {
  display: block;
}

.menu-burger__header {
  display: none;
}