@charset "UTF-8";
::selection {
  background: #FFFF00;
  color: white;
}
#mobile-version__about__list {
  display: none;
}
::-moz-selection {
  background: #FFFF00;
  color: white;
}
.projector-title h2 {
  margin-right: 160px;
}

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  background-color: white;
  color: #6016C4;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button, .signin-btn {
  background-color: #FFFF00;
  border: none;
  color: #4B0D9E;
  padding: 18px;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  cursor: pointer;
  transition: 0.3s ease;
}
.signin-btn:hover {
  background: transparent;
  color: #FFFF00;
  border: 2px solid #FFFF00;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #6016C4;
}

h1, h2, h3, h4, h4, h5 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

.about__title h2 {
  margin-right: 96px;
}

.title {
  display: flex;
  margin-bottom: 50px;
}
.title h2 {
  font-weight: 600;
  font-size: 45px;
  width: calc(33% + 25px);
}
.title p {
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

section {
  margin-bottom: 130px;
}

#about, #projectors, #timing, #contacts, #signin {
  padding-top: 100px;
}

#projectors {
  margin-bottom: 200px;
}

.displayNone {
  display: none;
}

.displayYes {
  display: block;
}

.open-burger {
  display: block !important;
  position: absolute;
  font-size: 18px;
}

.wrapper--overlay:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}
#header {
  padding: 36px 0;
  position: sticky !important;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navigation-item {
  margin-right: 70px;
}

.phone {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.phone-icon {
  margin-right: 10px;
}

.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
  height: 2px;
  width: 24px;
  position: absolute;
  background: #6016C4;
  margin: 0 auto;
}

.menu-burger__header span {
  top: 6px;
}

.menu-burger__header:after, .menu-burger__header:before {
  content: "";
}

.menu-burger__header:after {
  bottom: 3px;
}

.menu-burger__header:before {
  top: 0px;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  transition: 0.5s;
}

.menu-burger__header.open-menu:before {
  transform: rotate(45deg);
  top: 6px;
  transition: 0.4s;
}

.menu-burger__header.open-menu:after {
  transform: rotate(-45deg);
  bottom: 8px;
  transition: 0.4s;
}

.header__nav {
  display: none;
  margin: 0 auto;
  text-align: center;
}
.header__nav .burger-item {
  font-size: 18px;
  margin-bottom: 20px;
}
.tel__wrapper {
  display: flex;
  align-items: center;
}
.tel__wrapper .vk {
  margin-left: 50px;
}
@media (max-width: 990px) {
  .tel__wrapper .vk {
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
  }
  .tel__wrapper {
    flex-direction: row-reverse;
  }
}
.tel__wrapper a {
  display: block;
  text-align: center;
  font-weight: 500;
}

.burger {
  display: none;
}

.open-menu {
  display: block;
}

.menu-burger__header {
  display: none;
}

#intro {
  color: #FFFF00;
  font-size: 30px;
  background-color: #6016C4;
  max-height: 843px;
  width: 100%;
  position: relative;
}

.intro-wrapper {
  padding: 95px 0 50px;
  background: url("../img/intro_bg.png") right no-repeat;
  width: 100%;
  height: 100%;
}

.intro__title svg {
  width: 982px;
}

.intro__date {
  font-weight: 900;
  font-size: 38.1518px;
  margin-bottom: 130px;
}

.intro__main-text {
  font-weight: 400;
  font-size: 30px;
  margin: 30px 0 56px;
}

.intro__location {
  margin-top: 80px;
  font-size: 24px;
  line-height: 140%;
}

.intro-btn {
  max-width: 330px;
  height: 70px;
}

.smallPro {
  display: none;
}

.about__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3F0F8;
  width: 396px;
  height: 578px;
  padding-top: 30px;
  transition: 0.2s all ease;
  font-size: 18px;
}

.about-text {
  padding: 0 38px;
}

#carousel-speakers {
  display: none;
}

body {
  overflow-x: hidden;
}

.horizontal__card .carousel__card-content .person {
  height: 85px;
}

.slider {
  width: 100%;
  height: 455px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}
.slider .carousel__card {
  background-color: #F3F0F8;
  width: 1020px !important;
  height: 455px;
  float: left;
  position: relative;
  display: flex;
  font-size: 18px;
  margin-right: 20px;
}
.slider .carousel__card img {
  margin-right: 20px;
}
.slider .sections {
  width: 655%;
  height: 100%;
}

.slider .slider-splitter {
  height: 200px;
  width: 1px!important;
  background-color: white;
}

.carousel__card-content {
  padding: 60px 80px 80px 0;
}

.person__name {
  font-weight: 600;
}

.person__status {
  font-style: italic;
  font-weight: normal;
}

.person__quote {
  margin-top: 94px;
  line-height: 150%;
}

#no_water {
  min-height: 666px;
}

.no_water-wrapper {
  position: relative;
}
.no_water-wrapper h1 {
  transition: 1s all ease;
  font-weight: 600;
  font-size: 68px;
  line-height: 150%;
  min-width: 844px;
  position: absolute;
  z-index: 10;
  top: 200px;
  left: calc(50% - 644px);
}

.no_water-img {
  transition: 1s all ease;
  position: relative;
  float: right;
  background-color: #F3F0F8;
  width: 1015px;
  height: 546px;
}

.head-img {
  margin-top: -90px;
  width: 100%;
}

#timing {
  background-color: #F3F0F8;
  padding: 120px 0 430px;
  margin-bottom: -100px;
}

.timing__title {
  justify-content: space-between;
}
.timing__title p {
  max-width: 812px;
}

.timing-item, .timing__splitter {
  display: grid;
  grid-template-columns: 290px 416px 520px;
  align-items: center;
}

.timing-item {
  height: 90px;
  border-bottom: 1px solid #6016C4;
}

.timing__splitter {
  padding-top: 50px;
  color: rgba(96, 22, 196, 0.5);
}

.event__time {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.event__speaker {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.event__name {
  font-size: 18px;
  line-height: 150%;
}

.event__theme {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.timing__content-list__phone {
  display: none;
}
.timing__content-list__phone .timing-item {
  display: grid;
  grid-template-columns: 300px 400px;
}

#signin {
  min-height: 680px;
  margin-top: -24%;
}

.signin-container {
  background-color: #6016C4;
  height: 680px;
  position: relative;
}
.signin-container .signin-bg {
  background: url("../img/backside.png") left bottom no-repeat;
  width: 100%;
  height: 100%;
}

.signin__content {
  width: 50%;
  float: right;
  padding: 95px 120px 95px 0;
}
.signin__content h2 {
  font-weight: 600;
  font-size: 33px;
  line-height: 150%;
  color: white;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-form .input-default {
  background-color: #6016C4;
  font-size: 18px;
  line-height: 180%;
  height: 60px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  width: 416px;
  border-radius: 0;
}
.main-form .input-default::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}
.main-form .checkbox-label {
  color: white;
  margin: 55px 0;
}
.main-form .checkbox-label .policy-access {
  color: #FFFF00;
  text-decoration: underline;
}

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FFFF00;
  margin-right: 0.5em;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #FFFF00;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + span::before {
  border-color: #FFFF00;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #6016C4;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

.location__map iframe {
  filter: grayscale(1);
}

.location__title {
  justify-content: space-between;
}

.contacts-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contact-card {
  background-color: #6016C4;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  display: flex;
  align-items: center;
}
.contact-card img {
  opacity: 0.9;
}
.contact-card .contacts-card__content {
  margin-left: 25px;
  font-size: 18px;
}
.contact-card .contacts-card__content h4 {
  margin-bottom: 10px;
}
.contact-card .person__telegram-wrapper {
  margin-top: 40px;
}

.person__telegram {
  display: inline-block;
  transition: 0.2s all ease;
  border-bottom: 1px solid white;
}
.person__telegram:hover {
  border-bottom: 1px solid #6016C4;
  color: #6016C4;
}

/* Large desktop */
@media (min-width: 1201px) and (max-width: 1400px) {
  .person__quote {
    margin-top: 50px;
  }
  .projector-title h2 {
    margin-right: 130px;
  }

  .title h2 {
    font-size: 40px;
    width: calc(33% + 15px);
  }
  .title p {
    font-size: 22px;
  }

  .about__title h2 {
    margin-right: 72px;
  }

  .about__list-item {
    width: 350px;
  }

  .slider .carousel__card {
    width: 1000px !important;
  }

  .timing-item {
    grid-template-columns: 280px 380px 396px;
  }

  .timing__splitter {
    grid-template-columns: 280px 380px 396px;
  }

  .no_water-wrapper h1 {
    left: 10%;
    top: 230px;
  }

  .no_water-img {
    width: 815px;
    height: 546px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .person__quote {
    margin-top: 50px;
  }

  .title p {
    font-size: 20px;
  }

  .intro__date {
    font-size: 35px;
  }
  .intro__date img {
    width: 80px;
  }

  .intro__title svg {
    width: 800px;
  }

  .intro__main .intro__main-text {
    font-size: 24px;
  }
  .intro__main .intro-btn {
    max-width: 280px;
    font-size: 20px;
  }

  .intro__location {
    font-size: 22px;
  }

  .about__list {
    display: block;
  }
  .about__list .about__list-item {
    margin: 20px auto;
  }

  .slider .carousel__card {
    width: 800px !important;
    height: 420px;
  }
  .slider .person__quote {
    font-size: 16px;
  }

  .no_water-wrapper h1 {
    font-size: 50px;
    left: 5%;
    top: 300px;
  }

  .timing-item {
    grid-template-columns: 190px 272px 348px;
  }
  .timing-item .event__time {
    font-size: 20px;
  }
  .timing-item .event__theme {
    font-size: 16px;
  }

  .timing__splitter {
    grid-template-columns: 190px 272px 348px;
  }

  .no_water-img {
    width: 815px;
    height: 546px;
  }

  .head-img {
    width: 100%;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 990px) {
  header {
    height: 60px;
  }

  .signin-container .signin-bg {
    background: #6016C4;
  }

  .menu-burger__header {
    position: relative;
    /* задаем относительное позиционирование */
    width: 24px;
    /* определяем размеры блока */
    height: 16px;
    display: block;
    margin-left: 10px;
  }

  .burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header__nav {
    display: none;
    background-color: white;
    width: 100%;
  }

  .header__wrapper {
    display: none;
  }

  .smallPro {
    display: block;
    width: 300px !important;
    height: 100px;
  }

  .bigPro {
    display: none;
  }

  .intro__main-text {
    font-size: 22px;
    line-height: 140%;
  }

  .intro__location {
    font-size: 18px;
  }

  .title {
    display: block;
  }
  .title h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .title p {
    font-size: 20px;
  }

  .timing__content-list__phone {
    display: block;
  }

  .timing__content-list {
    display: none;
  }

  .timing__content-list__phone .timing-item {
    height: 120px;
    grid-template-columns: 238px 392px;
  }

  #header {
    padding: 20px 0 20px;
  }

  #signin {
    background-color: #6016C4;
    position: relative;
  }

  .signin-container::before {
    content: "";
    right: 0;
    bottom: 0;
  }

  .signin__content {
    width: 100%;
    padding-left: 10%;
  }

  #no_water {
    min-height: 486px;
    margin-bottom: 0;
    padding-top: 80px;
  }

  .no_water-wrapper h1 {
    font-size: 40px;
    left: 5%;
    top: 130px;
    min-width: 60%;
  }

  .no_water-img {
    width: 600px;
    height: 288px;
  }

  .about__list {
    display: block;
  }

  .about__list-item {
    width: 360px;
    height: auto;
    margin: 10px auto;
  }
  .about__list-item img {
    height: 350px;
  }

  #horizontal-scroller {
    display: none;
  }

  #carousel-speakers {
    display: block;
  }

  .person {
    display: flex;
    align-items: center;
  }

  .person-avatar {
    background-color: #6016C4;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 20px;
  }

  .person__quote {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .slick-dots li button:before {
    font-size: 40px !important;
    color: #F3F0F8 !important;
    opacity: 1 !important;
  }

  .slick-dots li.slick-active button:before {
    color: #6016C4 !important;
    opacity: 1 !important;
  }

  #projectors {
    background-color: #F3F0F8;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .signin-container .signin-bg {
    background: transparent;
  }

  .menu-burger__header {
    position: relative;
    /* задаем относительное позиционирование */
    width: 24px;
    /* определяем размеры блока */
    height: 16px;
    display: block;
    margin-left: 10px;
  }

  .burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header__nav {
    display: none;
    background-color: white;
    width: 100%;
  }

  .header__wrapper {
    display: none;
  }

  .smallPro {
    display: block;
    width: 300px !important;
    height: 100px;
  }

  .bigPro {
    display: none;
  }

  .intro__main-text {
    font-size: 22px;
    line-height: 140%;
  }

  .intro__location {
    font-size: 18px;
  }

  .title {
    display: block;
  }
  .title h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .title p {
    font-size: 20px;
  }

  .timing__content-list__phone {
    display: block;
  }

  .timing__content-list {
    display: none;
  }

  .timing-item {
    height: 120px;
  }

  #header {
    padding: 20px 0 20px;
  }

  #signin {
    background-color: #6016C4;
    position: relative;
  }

  .signin-container::before {
    content: "";
    right: 0;
    bottom: 0;
  }

  .signin__content {
    width: 100%;
    padding-left: 10%;
  }

  .no_water-wrapper h1 {
    font-size: 40px;
    left: 5%;
    top: 270px;
  }

  .about__list {
    display: block;
  }

  .about__list-item {
    width: 360px;
    height: auto;
    margin: 10px auto;
  }
  .about__list-item img {
    height: 350px;
  }

  #horizontal-scroller {
    display: none;
  }

  #carousel-speakers {
    display: block;
  }

  .person {
    display: flex;
    align-items: center;
  }

  .person-avatar {
    background-color: #6016C4;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 20px;
  }

  .person__quote {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .slick-dots li button:before {
    font-size: 30px !important;
    color: #F3F0F8 !important;
    opacity: 1 !important;
  }

  .slick-dots li.slick-active button:before {
    color: #6016C4 !important;
    opacity: 1 !important;
  }

  #projectors {
    background-color: #F3F0F8;
  }

  .intro__date {
    font-size: 20px;
  }
  .intro__date img {
    width: 40px;
  }

  .signin-btn {
    max-width: 200px;
    font-size: 16px;
    height: 40px;
    padding: 2px 18px;
  }

  .intro__main-text {
    font-size: 18px;
  }

  .intro__location {
    font-size: 16px;
  }

  .title {
    margin-bottom: 10px;
  }
  .title h2 {
    font-size: 24px;
  }
  .title p {
    font-size: 18px;
  }

  .about__title {
    background-color: white;
  }

  #projectors {
    background-color: white;
  }

  .slick-track {
    background-color: #F3F0F8 !important;
  }

  .timing__content-list__phone .timing-item {
    grid-template-columns: 200px 316px;
  }

  .about__list-item {
    height: 600px;
  }
  .about__list-item img {
    width: 100%;
    height: 100%;
    margin-bottom: -12px;
  }

  #no_water {
    min-height: 486px;
    margin-bottom: 0;
    padding-top: 80px;
  }

  .no_water-wrapper h1 {
    font-size: 40px;
    left: 13%;
    top: 130px;
    min-width: 60%;
  }

  .no_water-img {
    width: 560px;
    height: 288px;
  }

  .head-img {
    margin-top: -65px;
  }
}
/* Landscape phones and down */
@media (max-width: 575px) {
  #about, #projectors, #timing, #contacts, #signin {
    padding-top: 40px;
  }
  #mobile-version__about__list {
    display: block;
  }
  #desktop-version__about__list {
    display: none;
  }
.about__title p{
  max-width: 320px;
  margin-bottom: 20px;
}
#form-mobile_background {
  height: 540px;
  background: url(../img/backside_mob.png) right bottom no-repeat;
}
  #signin {
    min-height: 580px;
    margin-top: -380px;
  }
  #signin .container {
    height: 540px;
  }
  .signin__content h2 {
    font-size: 22px;
  }

  #signin .container .signin-container {
    height: 540px;
  }
  #signin .container .signin-container .signin-bg {
    height: 540px;
  }

  .signin-container .signin-bg {
    /*background: url("../img/backside_mob.png") right bottom no-repeat;*/
  }
  .signin-container {
    background: transparent;
  }

  .intro-wrapper {
    background: url("../img/bg_mobile.png") right bottom no-repeat;
    padding: 30px;
  }

  .intro__date {
    font-size: 10px;
  }

  #intro {
    height: 300px;
  }

  .intro__date {
    margin-bottom: 50px;
  }
  .intro__date img {
    width: 27px;
  }

  .intro__main-text {
    font-size: 12px;
    margin: 15px 0 20px;
  }

  .intro__location {
    font-size: 10px;
    margin-top: 20px;
  }
  .intro__location img {
    height: 12px;
  }

  .smallPro {
    height: 30px;
    width: 251px !important;
  }

  .signin-btn {
    width: 190px;
    font-size: 14px;
  }

  .about__list-wrapper {
    background-color: #F3F0F8;
  }
  .about__list-wrapper .about__list {
    width: 100%;
    margin: 0 auto;
  }
  .about__list-wrapper .about__list .slick-list .slick-track {
    background-color: #F3F0F8 !important;
  }
  #projectors {
    margin-bottom: 0px;
  }
  .title h2 {
    font-size: 22px;
  }
  .title p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  #timing {
    margin-top: -50px;
  }
.timing__splitter {
  padding-top: 20px;

}
  .about__list-item {
    height: 410px !important;
  }

  .about-text {
    font-size: 13px !important;
    padding: 0 10px;
  }

  #carousel-speakers {
    height: 230px;
    font-size: 11px;
  }
  #carousel-speakers .slick-list {
    height: 230px;
  }
  #carousel-speakers .carousel__card-content {
    padding: 24px 0;
    height: 230px;
  }
  #carousel-speakers .person__quote {
    margin: 0 0 30px;
    font-size: 11px;
    max-width: 380px;
  }
  #carousel-speakers .person__name {
    font-size: 11px;
    margin-bottom: 6px;
  }

  section {
    margin-bottom: 0;
  }

  .timing-item {
    grid-template-columns: 1fr 2fr !important;
    height: 90px;
  }

  .event__time {
    font-size: 10px;
  }

  .event__theme, .event__name, .event__speaker {
    font-size: 11px;
  }

  .signin__content {
    padding: 0;
  }

  .main-form .input-default {
    width: 100%;
    font-size: 14px;
  }

  .signin-container {
    height: auto;
  }

  .contact-card {
    background-color: #fff;
  }
  .contact-card .contact-avatar {
    border-radius: 50%;
    background-color: #6016C4;
    width: 86px;
    height: 86px;
  }
  .contact-card .contact-avatar img {
    width: 87px;
    height: 87px;
  }

  .contacts-info {
    font-size: 14px;
  }

  .footer-info {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .main-form .input-default {
    background: transparent;
  }
  .main-form {
    color: white;
  }
  .main-form p {
    color: white;
    font-size: 22px;
  }

  #location {
    padding-top: 50px;
  }

  #no_water {
    min-height: 330px;
    margin-bottom: 0;
    padding-top: 80px;
  }

  .no_water-wrapper h1 {
    font-size: 22px;
    left: 6%;
    top: 60px;
    min-width: 60%;
  }

  .no_water-img {
    width: 70%;
    height: calc(70% * 0.714);
  }

  .head-img {
    margin-top: -15%;
  }

  .checkbox-label span {
    font-size: 10px;
  }
  .david {
    background: url("../img/david_bg.png") top no-repeat!important;
  }
  .cezar {
    background: url("../img/cezar_bg.png") top no-repeat!important;
  }
  .last_image {
    background: url("../img/lol_bg.png") top no-repeat!important;
  }

  .about-image {
    height: 100%;
  }
.intro-wrapper {
  padding-left: 0;
  height: calc(100% + 1px);
}
.tel__wrapper {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}
  .tel__wrapper .vk img {
    width: 20px;
    height: 20px;
  }
  .phone {
    font-size: 14px;
  }
  .phone-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

}
