@import "variables";

/* Large desktop */
@media (min-width: 1201px) and (max-width: 1400px) {
  .title {
    h2 {
      font-size: 40px;
    }

    p {
      font-size: 22px;
    }
  }

  //body {
  //  overflow-x: hidden;
  //}
  .about__list-item {
    width: 350px;
  }
  .slider .carousel__card {
    width: 1000px !important;
  }
  .timing-item {
    grid-template-columns: 280px 380px 396px;
  }
  .timing__splitter {
    grid-template-columns: 280px 380px 396px;
  }
  .no_water-wrapper {
    h1 {
      left: 10%;
      top: 230px;
    }
  }
  .no_water-img {
    width: 815px;
    height: 546px;
  }

}


@media (min-width: 991px) and (max-width: 1200px) {
  //body {
  //  overflow-x: hidden;
  //}
  .title {
    p {
      font-size: 20px;
    }
  }
  .intro__date {
    img {
      width: 80px;
    }

    font-size: 35px;
  }

  .intro__title {
    svg {
      width: 800px;
    }
  }

  .intro__main {
    .intro__main-text {
      font-size: 24px;
    }

    .intro-btn {
      max-width: 280px;
      font-size: 20px;
    }
  }

  .intro__location {
    font-size: 22px;
  }

  .about__list {
    display: block;

    .about__list-item {
      margin: 20px auto;
    }
  }

  .slider {

    .carousel__card {
      width: 800px !important;
      height: 420px;

      img {
      }
    }

    .person__quote {
      font-size: 16px;
    }
  }
  .no_water-wrapper {
    h1 {
      font-size: 50px;
      left: 5%;
      top: 300px;
    }
  }
  .timing-item {
    grid-template-columns: 190px 272px 348px;

    .event__time {
      font-size: 20px;
    }

    .event__theme {
      font-size: 16px;
    }
  }
  .timing__splitter {
    grid-template-columns: 190px 272px 348px
  }

  .no_water-img {
    width: 815px;
    height: 546px;
  }
  .head-img {
    width: 100%;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 990px) {
  header {
    height: 60px;
  }
  .signin-container .signin-bg {
    background: $text-color;
  }

  .menu-burger__header {
    position: relative; /* задаем относительное позиционирование */
    width: 24px; /* определяем размеры блока */
    height: 16px;
    display: block;
    margin-left: 10px;
  }
  .burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }
  .header__nav {
    display: none;
    background-color: white;
    width: 100%;
  }
  .header__wrapper {
    display: none;
  }
  .smallPro {
    display: block;
    width: 300px !important;
    height: 100px;
  }
  .bigPro {
    display: none;
  }
  .intro__main-text {
    font-size: 22px;
    line-height: 140%;
  }
  .intro__location {
    font-size: 18px;
  }

  .title {
    display: block;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }
  }
  .timing__content-list__phone {
    display: block;
  }
  .timing__content-list {
    display: none;
  }
  .timing__content-list__phone .timing-item {
    height: 120px;
    grid-template-columns: 238px 392px;
  }

  #header {
    padding: 20px 0 20px;
  }
  #signin {
    background-color: $text-color;
    position: relative;
  }
  .signin-container {
    &::before {
      content: '';
      right: 0;
      bottom: 0;
    }
  }
  .signin__content {
    width: 100%;
    padding-left: 10%;
  }
  //body {
  //  overflow-x: hidden;
  //}
  #no_water {
    min-height: 486px;
    margin-bottom: 0;
    padding-top: 80px;
  }
  .no_water-wrapper {
    h1 {
      font-size: 40px;
      left: 5%;
      top: 130px;
      min-width: 60%;
    }
  }
  .no_water-img {
    width: 600px;
    height: 288px;
  }
  .about__list {
    display: block;
  }
  .about__list-item {
    width: 360px;
    height: auto;
    margin: 10px auto;

    img {
      height: 350px;
    }
  }
  #horizontal-scroller {
    display: none;
  }
  #carousel-speakers {
    display: block;
  }
  .person {
    display: flex;
    align-items: center;
  }
  .person-avatar {
    background-color: $text-color;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 20px;
  }
  .person__quote {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .slick-dots li button:before {
    font-size: 40px !important;
    color: $lightBlue !important;
    opacity: 1 !important;

  }
  .slick-dots li.slick-active button:before {
    color: $text-color !important;
    opacity: 1 !important;
  }


  #projectors {
    background-color: $lightBlue;
  }
}

//body {
//  overflow-x: hidden;
//}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .signin-container .signin-bg {
    background: transparent;
  }
  //body {
  //  overflow-x: hidden;
  //}
  .menu-burger__header {
    position: relative; /* задаем относительное позиционирование */
    width: 24px; /* определяем размеры блока */
    height: 16px;
    display: block;
    margin-left: 10px;
  }
  .burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }
  .header__nav {
    display: none;
    background-color: white;
    width: 100%;
  }
  .header__wrapper {
    display: none;
  }
  .smallPro {
    display: block;
    width: 300px !important;
    height: 100px;
  }
  .bigPro {
    display: none;
  }
  .intro__main-text {
    font-size: 22px;
    line-height: 140%;
  }
  .intro__location {
    font-size: 18px;
  }

  .title {
    display: block;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }
  }
  .timing__content-list__phone {
    display: block;
  }
  .timing__content-list {
    display: none;
  }
  .timing-item {
    height: 120px;
  }

  #header {
    padding: 20px 0 20px;
  }
  #signin {
    background-color: $text-color;
    position: relative;
  }
  .signin-container {
    &::before {
      content: '';
      right: 0;
      bottom: 0;
    }
  }
  .signin__content {
    width: 100%;
    padding-left: 10%;
  }
  //body {
  //  overflow-x: hidden;
  //}
  .no_water-wrapper {
    h1 {
      font-size: 40px;
      left: 5%;
      top: 270px
    }
  }
  .about__list {
    display: block;
  }
  .about__list-item {
    width: 360px;
    height: auto;
    margin: 10px auto;

    img {
      height: 350px;
    }
  }
  #horizontal-scroller {
    display: none;
  }
  #carousel-speakers {
    display: block;
  }
  .person {
    display: flex;
    align-items: center;
  }
  .person-avatar {
    background-color: $text-color;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 20px;
  }
  .person__quote {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .slick-dots li button:before {
    font-size: 30px !important;
    color: $lightBlue !important;
    opacity: 1 !important;

  }
  .slick-dots li.slick-active button:before {
    color: $text-color !important;
    opacity: 1 !important;
  }


  #projectors {
    background-color: $lightBlue;
  }


  .intro__date {
    font-size: 20px;

    img {
      width: 40px;
    }
  }
  .signin-btn {
    max-width: 200px;
    font-size: 16px;
    height: 40px;
    padding: 2px 18px;
  }
  .intro__main-text {
    font-size: 18px;
  }
  .intro__location {
    font-size: 16px;
  }
  .title {
    margin-bottom: 10px;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }
  }
  .about__title {
    background-color: white;
  }
  #projectors {
    background-color: white;
  }
  .slick-track {
    background-color: $lightBlue !important;
  }

  .timing__content-list__phone .timing-item {
    grid-template-columns: 200px 316px;
  }
  .about__list-item {
    height: 600px;

    img {
      width: 100%;
      height: 100%;
      margin-bottom: -12px;
    }
  }
  #no_water {
    min-height: 486px;
    margin-bottom: 0;
    padding-top: 80px;
  }
  .no_water-wrapper {
    h1 {
      font-size: 40px;
      left: 13%;
      top: 130px;
      min-width: 60%;
    }
  }
  .no_water-img {
    width: 560px;
    height: 288px;
  }
  .head-img {
    margin-top: -65px;
  }

}


/* Landscape phones and down */
@media (max-width: 575px) {
  #signin {
    min-height: 580px;
    margin-top: -80%;

    .container {
      height: 540px;

      .signin-container {
        height: 540px;

        .signin-bg {
          height: 540px;
        }
      }
    }
  }
  .signin-container .signin-bg {
    background: url("../img/backside_mob.png") right bottom no-repeat;

  }
  .intro-wrapper {
    background: url('../img/bg_mobile.png') right bottom no-repeat;
    padding: 30px;
  }
  .intro__date {
    font-size: 10px;
  }
  #intro {
    height: 300px;
  }
  .intro__date {
    margin-bottom: 50px;

    img {
      width: 27px;
    }
  }
  .intro__main-text {
    font-size: 12px;
    margin: 15px 0 20px;
  }
  .intro__location {
    font-size: 10px;
    margin-top: 20px;

    img {
      height: 12px;
    }
  }
  .smallPro {
    height: 30px;
    width: 251px !important;
  }
  .signin-btn {
    width: 190px;
    font-size: 14px;
  }
  .about__list-wrapper {
    background-color: $lightBlue;

    .about__list {
      max-width: 360px;
      margin: 0 auto;

      .slick-list {
        .slick-track {
          background-color: $lightBlue !important;
        }
      }
    }
  }
  .title {
    h2 {
      font-size: 22px;
    }

    p {
      font-size: 12px;
    }
  }
  .about__list-item {
    height: 410px !important;
  }
  .about-text {
    font-size: 12px !important;
    padding: 0 10px;
  }
  #carousel-speakers {
    height: 230px;

    .slick-list {
      height: 230px;
    }

    .carousel__card-content {
      padding: 24px 0;
      height: 230px;
    }

    .person__quote {
      margin: 0 0 30px;
      font-size: 11px;
      max-width: 380px;
    }

    .person__name {
      font-size: 11px;
      margin-bottom: 6px;
    }

    font-size: 11px;
  }
  section {
    margin-bottom: 0;
  }
  .timing-item {
    grid-template-columns: 1fr 2fr !important;
    height: 90px;
  }
  .event__time {
    font-size: 10px;
  }
  .event__theme, .event__name, .event__speaker {
    font-size: 11px;
  }
  .signin__content {
    padding: 0;
  }
  .main-form .input-default {
    width: 100%;
    font-size: 14px;
  }
  .signin-container {
    height: auto;
  }
  .contact-card {
    background-color: #fff;

    .contact-avatar {
      border-radius: 50%;
      background-color: $text-color;
      width: 86px;
      height: 86px;

      img {
        width: 87px;
        height: 87px;
      }
    }
  }
  .contacts-info {
    font-size: 14px;

  }
  .footer-info {
    margin-bottom: 20px;
    font-size: 10px;
  }
  .main-form .input-default {
    background: transparent;
  }
  #location {
    padding-top: 50px;
  }

  #no_water {
    min-height: 330px;
    margin-bottom: 0;
    padding-top: 80px;
  }
  .no_water-wrapper {
    h1 {
      font-size: 22px;
      left: 6%;
      top: 60px;
      min-width: 60%;
    }
  }
  .no_water-img {
    $width: calc(70%);
    width: $width;
    height: calc(#{$width} * 0.714);
  }
  .head-img {
    margin-top: -15%;
  }


}

