.about__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3F0F8;
  width: 396px;
  height: 578px;
  padding-top: 30px;
  transition: 0.2s all ease;
  font-size: 18px;
}

.about-text {
  padding: 0 38px;
}