@import "../variables";

.about__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__list-item {
  @include flex-column;
  justify-content: space-between;
  background-color: $lightBlue;
  width: 396px;
  height: 578px;
  padding-top:30px;
  transition: 0.2s all ease;
  font-size: $sm;
}
.about-text {
  padding: 0 38px;
}
